.App {
  display:flex;
  justify-content: center;
  align-items: center ;
  min-height: 100vh;}
label{
  display: block;
}
input{
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}
pre{
  max-width: 200px;
  text-align: center;
}
button{
  display: block;
  width: 210px;
  padding: 5px;
  margin: 5px  auto;

}
